# Web framework
fastapi==0.111.0
uvicorn[standard]==0.29.0

# Validation & settings
pydantic==2.7.1
pydantic-settings==2.2.1

# Base de données
sqlalchemy==2.0.30
asyncpg==0.29.0             # Driver PostgreSQL async
alembic==1.13.1             # Migrations

# Sécurité & Auth
python-jose[cryptography]==3.3.0
bcrypt==4.1.3

# Dev & Tests
python-dotenv==1.0.1
pytest==8.2.0
httpx==0.27.0
pytest-asyncio==0.23.6
anyio==4.3.0
